<%# put stuff here %>
<div class="container">
    <h1 class="text-white cocktail-title fadein"><%= @cocktail.name %></h1>
    <div class="show-cocktail shadow rounded fadein">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-4">
                <img src=<%= Faker::Placeholdit.image %> alt="">

            </div>

            <div class="col-sm-12 col-md-4">
                <h3>Instructions:</h3>
                <% @cocktail.doses.each do |dose| %>
                <p><%= dose.ingredient.name %>: <%= dose.description %></p>
                <% end %>

            </div>

            <div class="col-sm-12 col-md-4">
                <%= simple_form_for([@cocktail, @dose]) do |f| %>
                <%= f.association :ingredient %>
                <%= f.input :description %>
                <%= f.submit "Submit", class: "btn btn-success" %>
                <% end %>

            </div>


        </div>
    </div>

</div>